{% import "_macros.html" as macros %}
{% if request.blueprint == 'doc' %}
    {% set endpoint = 'sources.list_packages' %}
  {% else %}
    {% set endpoint = '.list_packages' %}
  {% endif %}
<p style="margin: 0 0 0 0; line-height: 1em;">
  Browse by prefix: &ensp;
  {{ macros.render_packages_prefixes(packages_prefixes, request) }}
  &ensp; | &ensp;
  Browse <a href="{{ url_for(endpoint, page=1) }}">by page</a>
</p>
<hr />
<div style="position: relative">
{% if credits -%}
<div style="position: absolute; right: 0">
{{ credits|safe }}
</div>
{% endif %}
<p>
  Debsources &mdash; Copyright (C) 2011&ndash;2021,
  <a href="{{ config.GITWEB_URL }}/blob/master/AUTHORS">The Debsources developers</a>.
  License:
  <a href="https://www.gnu.org/licenses/agpl.html">GNU AGPLv3+</a>.
  <br />
  Hosted source files are available under their own
  <a href="https://www.debian.org/doc/debian-policy/ch-source.html#s-dpkgcopyright">copyright
  and licenses</a>.
  <br />
  Source code: <a href="{{ config.GITWEB_URL }}">Git</a>.
  Contact: <a href="mailto:{{ config.MAILING_LIST }}">{{ config.MAILING_LIST }}</a>.
  Last update: {{ last_update }}.
</p>
</div>

<script type="text/javascript">
// @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-3.0
var elems = document.querySelectorAll('.js-append-window-location-hash');

for (var i = 0; i < elems.length; ++i) {
  elems[i].setAttribute('href', elems[i].getAttribute('href') + window.location.hash);
}
// @license-end
</script>
